{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14.0.0"
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ]
}