@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: roboto; 
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
  font-display: swap;
} 

* {
  font-family: roboto !important;
}
